body {
	background:#191919;
}

select,input,span,p,h1,h2,h3,h4,h5,h6,h {
	font-family: 'Open Sans', sans-serif;
	color:#E7E7E7;
	background-color:#191919;
}

select,input {
	padding: 7px 10px;
	margin: 7px 10px;
	border: 1px #E7E7E7 solid;
}

input {
	border: 2px #E7E7E7 solid;
	background-color:#383838;
}

p {
	font-size: 14px;
}

#refreshButton {
	border:0;
	background-color:#191919;
}
#scheduledPower input {
	margin: 0px 2px 0px 5px;
}
